[defaults]
inventory         = inventory/hosts.ini
remote_user       = azureuser
private_key_file  = ~/.ssh/ticketing_key
host_key_checking = False
forks             = 10
timeout           = 30

[privilege_escalation]
become        = True
become_method = sudo
become_user   = root

[ssh_connection]
# Aktifkan baris di bawah jika worker tidak bisa di-ping langsung
# (worker node hanya bisa diakses via LB sebagai jump host)
# ssh_args = -o StrictHostKeyChecking=no -o ProxyJump=azureuser@<LB_PUBLIC_IP>
ssh_args = -o StrictHostKeyChecking=no
